* {
    box-sizing: border-box;
  }
  

  .box1 {
    overflow: hidden;
    background-color: #333;
  }
  
  
  .box1 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .box1 a:hover {
    background-color: #ddd;
    color: black;
  }
  .box1 {
    float: left;
    margin: 10px;
    width: calc((100% / 2) - 20px);
 }
  

  @media screen and (max-width: 1000px) {
    .box1 {
        float: left;
        margin: 10px;
        width: calc((100% / 2) - 10px);
     }
  }

  @media screen and (max-width: 500px) {
    .box1 {
        float: center;
        margin: 10px;
        width: calc((100% / 2) - 10px);
     }
  }

  @media screen and (max-width: 800px) {
    .box1 {
        float: top;
        margin: 10px;
        width: calc((100% / 2) - 10px);
     }
  }